/*Colors*/
html {
  font-size: 10px;
}
.layer {
  background: url(../img/sloi1.jpg) center no-repeat;
  min-height: 90vh;
  background-size: cover;
  position: relative;
}
.layer .header {
  background-color: #f8f8f8;
  position: absolute;
  top: 3%;
  min-width: 100%;
  left: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.layer .header_logo_p {
  font-size: 28px;
  line-height: 0.6;
  margin-left: -25px;
}
.layer .header_logo_p span {
  font-size: 38px;
}
.layer .header a {
  margin: 8px;
  font-size: 28px;
  color: #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.layer .header_icon {
  display: block;
  margin-bottom: 7px;
}
.layer .header_contacts {
  display: inline-block;
  margin-top: 10px;
  line-height: 0.6;
  font-size: 13px;
  color: #0c0c0c;
}
.layer .header_contacts span {
  display: inline-block;
  font-size: 16px;
  color: #0c0c0c;
  margin-top: 15px;
}
.layer .main {
  position: absolute;
  top: 45%;
  min-width: 80%;
  margin-left: -3%;
}
.layer .main h1 {
  font-size: 50px;
  color: #fff141;
}
.layer .main p {
  font-size: 32px;
  color: #fff;
  line-height: 1.2;
}
.layer .main button {
  height: 40px;
  width: 240px;
  margin-top: 15px;
  background-color: #fff842;
  font-size: 15px;
  border: 0;
  border-radius: 10px;
}
.layer .main button:hover {
  -webkit-box-shadow: 4px -4px 4px rgba(222, 215, 41, 0.5);
          box-shadow: 4px -4px 4px rgba(222, 215, 41, 0.5);
  font-size: 18px;
}
