/*Colors*/
body {
  font-size: 10px;
  box-sizing: border-box;
}
body {
  background-image: url(../img/sloi1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  display: flex;
  margin-top: 40px;
  width: 100%;
  height: 80px;
  background-color: #898989;
}
header .header-logo {
  display: inline-block;
}
header .header-logo img {
  height: 60px;
  width: 60px;
  margin: 10px 10px 10px 30px;
}
header .header-logo p {
  display: inline-block;
  width: 120px;
  color: #000000;
  font-family: "Proxima Nova - Black", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 20px;
  vertical-align: middle;
  margin: auto;
}
header .header-logo p span {
  display: block;
  font-size: 1.5rem;
  letter-spacing: -1px;
  font-weight: 900;
}
header .header-nav {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
header .header-nav a {
  color: #0c0c0c;
  text-decoration: none;
  font-size: 1.4rem;
}
header .header-contacts {
  display: inline-block;
}
header .header-contacts p {
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 300;
  margin-bottom: -2px;
  vertical-align: middle;
  text-align: center;
  font-family: "Proxima Nova", sans-serif;
  color: #0c0c0c;
}
header .header-contacts p span {
  font-size: 0.8rem;
}
header .header-icon {
  display: inline-block;
  margin-right: 30px;
  margin-left: auto;
}
header .header-icon img {
  width: 23px;
  height: 30px;
  margin-top: 5px;
  margin-left: 10px;
}
header .div {
  display: flex;
  margin: auto;
}
@media (max-width: 1090px) {
  header .header-contacts {
    display: none;
  }
  header .header-contacts-active {
    display: inline-block;
  }
  header .header-icon-active {
    display: none;
  }
  header .header-logo-active img {
    margin-left: 5px;
  }
}
@media (max-width: 852px) {
  header .header-contacts {
    display: none;
  }
  header .header-contacts-active {
    display: inline-block;
  }
  header .header-icon-active {
    display: none;
  }
  header .header-logo-active img {
    margin-left: 5px;
  }
  header .header-logo {
    display: flex;
    margin: auto;
  }
  header .header-logo img {
    height: 50px;
    width: 50px;
    margin-left: 0;
  }
  header .header-logo p {
    width: 120px;
    font-size: 1rem;
    line-height: 15px;
  }
  header .header-logo p span {
    font-size: 1.3rem;
  }
  header .header-nav a {
    font-size: 1.1rem;
  }
  header .header-contacts p {
    font-size: 0.6rem;
  }
  header .header-contacts p span {
    font-size: 0.7rem;
  }
  header .header-icon {
    margin-right: 10px;
  }
  header .header-icon img {
    width: 21px;
    height: 28px;
  }
}
@media (max-width: 694px) {
  header {
    margin-top: 0;
    position: relative;
  }
  header .header-nav {
    display: none;
    transition: 0.5s;
    transform-origin: left center;
    transform: scaleX(0) translateX(20%);
    opacity: 0;
  }
  header .header-nav-active {
    transform: scaleX(1) translateX(0%);
    opacity: 1;
  }
  header .header-nav-button {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    top: 80px;
    left: 5px;
  }
  header .header-nav-button span,
  header .header-nav-button span::before,
  header .header-nav-button span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #222;
  }
  header .header-nav-button span::before,
  header .header-nav-button span::after {
    content: '';
    display: block;
    transition: 0.2s;
    transform-origin: right center;
  }
  header .header-nav-button span::before {
    transform: translateY(-6px);
  }
  header .header-nav-button span::after {
    transform: translateY(6px);
  }
  header .header-nav-button-active span::before {
    transform: rotate(45deg);
    top: 8px;
    margin-left: -12px;
  }
  header .header-nav-button-active span::after {
    transform: rotate(-45deg);
    top: -6px;
    margin-left: -12px;
  }
  header .header-nav-button-active span {
    height: 0;
  }
  header .header-nav-active {
    display: inline-block;
    position: absolute;
    background-color: #fff;
    height: 50px;
    top: 80px;
    left: 14px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 100%;
  }
  header .header-nav-active a {
    display: inline-block;
    color: ##898989;
    margin-right: 10px;
    position: relative;
    top: 10px;
    left: 40px;
  }
  header .header-contacts {
    display: inline-block;
  }
}
